*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

input{
border: none;
}
/* header */

.headerslider {
  width: 100%;
  overflow: hidden;
}

.headerslider img {
  width: 100%;
  height: 750px;
  display: none;
  position: relative;

}

.headerslider img:first-child {
  display: block;
}

.headerlogoRoca span{
  letter-spacing: 1.2px;
  position: absolute;
  margin-top: -710px;
  font-size: 40px;
  margin-left: 52px;
  font-family: 'Poppins';
}

#logoRoca{
  color: #1A1A1A;
}

#logoRocaDot{
  color: #0081FF;
  margin-left: 140px;
}

.headerlogoResume{
  position: absolute;
  color: #B3B3B3;
  font-size: 13px;
  margin-top: -665px;
  margin-left: 52px;
}

#logo01{
  font-size: 158.3px;
  color: #1C1C1C;
  position: absolute;
  margin-top: -750px;
  margin-left: 85%;
}

#logoAboutMe{
 position: absolute;
  color: #373737;
  font-size: 43.7px;
  margin-left: 84%;
  margin-top: -680px;
}

.headerAboutMe{
  position: absolute;
  margin-left: 50%;
  margin-top: -500px;
}

#headerFirstLine{
  font-size: 40px;
}

#headerSecondLine{
  font-size: 62px;
  margin-top: -42px;
}

#headerThirthLine{
  font-size: 23.29px;
  margin-top: -55px;
}
header p{gap:20px}

.headerSocialMedias{
  position: absolute;
}

.headerSocialMedias img{
  margin-left: 15px;
}

.headerClientRating{
  position: absolute;
  margin-left: 80%;
  margin-top: -100px;
  font-size: 24px;
}

#headerProccentLine{
  padding-bottom: 3px;
  background-color: #E93656;
  margin-top: 10px;
}
/* section1 */
.more-about-me{
  max-width: 1920px;
  width: 100%;
  margin: 80px auto;
  background-color:white ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.more-text{
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin: 0 20px 0 auto;
}
.txt-holder{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}
.more-title{
  color: #222222;
  font-family: 'Glacial Indifference bold';
  font-size: 40px;
  text-align: right;
}
.more-span{
  color: #DAAE19;
  font-size: 14px;
  text-align: right;
}

.more-img {
  margin: 0;
  max-width: 400px;
  width: 100%;
}
.more-img img{
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  max-height: 540px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
.bio{
  color: #555555;
  font-family: 'Muli-regular';
  font-size: 15px;
  letter-spacing: 0.45px;
  text-align: right;
  margin: 33px 0 60px 0;
}
.hire{
  background-color: #E93656;
  width: 152px;
  height: 50px;
  color: white;
  font-family: 'Glacial Indifference bold';
  font-size: 15px;
  border: none;
}
.skills-and-social{
  margin: 0 auto 0 20;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:flex-start;
  max-width: 400px;
  width: 100%;
  min-height: 500px;
}

.skill-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

.skill-bar-fill {
  height: 100%;
  background-color: #f00;
  width: 0%;
  transition: width 1s ease-in-out;
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;
}

.more-social{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  margin-top: 50px;
  gap: 20px;
}

.more-social img{
  width: 50px;
}
.more-social a{
  transition: all;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  
}
.more-social a:hover{
  box-shadow: 3px 3px 10px 1px black;
  
}
@media (width >= 769px){
  .more-about-me{
          .more-text{
          max-width: 350px;
          }
   
          .txt-holder{
          max-width: 350px;
          }
          .more-title{
          font-size: 40px;;
          }
          .more-span{
          color: #DAAE19;
          font-size: 14px;
          text-align: right;
          }
          
          .more-img {
          margin: 0 auto;
          }
          .more-img img{
          margin: 0 auto;
         
          }
  }
}
/* section-contact */
.contact {
  background-color: #131a36;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact .phone,
.contact .address,
.contact .email {
  display: flex;
  justify-content: center;
  gap: 20px;
  display: flex;
  align-items: center;
}

.contact .phone img,
.contact .address img,
.contact .email img {
  border-radius: 50%;
 
}

.contact h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
 
}

.contact
a {
  color: #dfdfdf;
  font-size: 14px;
  font-weight: bold;
 
}

.contact .address img {
  margin: 40px;
  border-radius: 50%;
  padding: 30px;
  background-color: #e93656;
}
.contact .phone img,
.contact .email img {
  margin: 40px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  padding: 30px;
}
#cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 203px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 300px;
  background-color: #FAFAFA;
  opacity: 0.97;
  border: none;
  text-align: center;
  margin: 6px;
  position: relative;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.8s;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.card:hover .card-content {
  opacity: 0;
}

.card-content.hidden {
  opacity: 0;
}

.card:hover{
  background-color: #15263E;
}

.card-content h2{
  font-size: 17px;
}

.quotes{
  background-image: url('../imigies/clip.jpg');
  background-size: cover;
  background-position: center;
 
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;

}
.quote{
  display: none;
  position: absolute;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.5s;
  top: 0;
  left: -100%;
}
.quote.actives{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;	
  opacity: 1;
  visibility: visible;
  position: relative;
  left: 0;
  
  
}
.quote-txt{
  font-family: 'Roboto-light';
  font-size: 15px;
  text-align: right;
  line-height: 20px;
  letter-spacing: 0.45px;
  color: #FFFFFF;
  inline-size: 300px;
}

.quote-author{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.quote-p{
  color: #E93656;
  font-family: 'Roboto';
  font-size: 13px;
  letter-spacing: 0.52px;
}
.quote-title{
  font-family: 'Glacial Indifference bold';
  text-transform: capitalize;
  font-size: 24px;
  letter-spacing: 0.84px; 
  color: #FFFFFF;
}
.qspan {
  width: 100px;
  height: 100px;
  border: 3px dashed white;
  border-radius: 50%;
  position: relative;
  background-color:#B97679 ;
}

.button-section{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  
}
.bullet{
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.bullet-active{
  border: 3px solid #E93656;
  background-color: white;
}
/* articles */

/* .articles{
  overflow: hidden;
  margin: auto;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
} */
.articles {
  display: inline-block;
  max-width: 1750px;
  width: 100%;
  margin-bottom: 170px;
}
.articles h6 {
  color: #2ed279;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-top: 370px;
}
.articles h3 {
  color: #2e2e2e;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  white-space: nowrap;
}

.timeline-item:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-year {
  font-weight: bold;
  font-size: 30px;
  background-color: #15263e;
  color: #e93656;
  padding: 30px 100px;
  transform: rotate(270deg);
}

.timeline-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  gap: 20px;
  max-width: 500px;
  width: 60%;
  padding: 80px 40px;
  background-color: #fafafa;
}

.timeline-content img {
  max-width: 36.97px;
  width: 100%;
  height: 40px;
}

.timeline-content h6 {
  margin-top: 0;
  color: #888888;
  font-size: 14px;
}

.timeline-content h3 {
  margin-top: 0;
  color: #161616;
  font-size: 38px;
  font-weight: bold;
}

.timeline-content p {
  margin: 0;
  color: #494949;
  font-size: 16px;
}

.opposite-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  gap: 20px;
  max-width: 500px;
  width: 60%;
  padding: 170px 50px;
  background-color: #e1e0dc;
}

/* rosa */
.rosa{
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 80px;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 176px;
}
.rosa-title{
  display: inline-block;
  margin: auto;
  font-family: "Glacialindifference bold";
  font-size: 70px;
  color: #262526;
}
.rosa-wrapper{
  
  display: grid;
  grid-template-columns: 230px 230px 230px 230px 230px ;
  max-width: 1170px;
  width: 100%;
  margin: auto;
opacity: 0;

}
.rosa-wrapper.action{
  opacity: 1;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px 230px ;
  max-width: 1170px;
  width: 100%;
  margin: auto;
 


  animation-name: rosa2 ;
  animation-duration: 3s;
}

.rosa-box{
  max-width: 230px;
  width: 100%;
  transition: all.3s;
}
.rosa-box{
  max-width: 230px;
  width: 100%;
  height: 110px;
  transition: all.3s;

}

.rosa-box-hover{
  display: none;
  transition: all.3s;
}
.rosa-box-close{
  display: flex;
  justify-content: center;
  transition: all.3s;
}

.rosa-box-hover{
  text-align: center;
  cursor: pointer;
  transition: all.3s;
  max-height: 110px;
}
.rosa-box:hover .rosa-box-hover{
  display: block;
  border: 1px solid #E93656;
  padding: 20px;
  border-radius: 5px;

}
.rosa-box:hover .rosa-box-close{
  display: none;
  
}
.rosa-para{
  font-size: 13px;
  color: #626262;
  font-family: "Roboto light";
}
.rosa-name{
  font-family: "Poppins semi Bold";
  font-size: 16px;
  color: #161616;
}

/* rosa */
